body {
  background-color: #111;
  font-family: sans-serif;
  color: #E9967A;
}

p {
  font-size: 0.9em;
}

a {
  color: #7FFFD4;
}

#screen {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    pointer-events:none;
}

#content {
  height: 100%;
}
